@use "../abstracts" as *;

@mixin btn-color-attributes($button-color) {
  background-color: $button-color;
  border: 1px solid scale-color($button-color, $lightness: -50%);
  transition: background-color 150ms ease-in;
  &:hover {
    background-color: scale-color($button-color, $lightness: 20%);
  }
}

.custo-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.3rem;
}
.custo-button {
  @include btn-color-attributes(map-get($colors, primary));
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 10px;
  font-size: 1.5em;
  color: map-get($colors, font-light);

  &:last-of-type {
    @include btn-color-attributes(map-get($colors, light-green));
  }
}

.custo-buttons--full-width {
  display: block;
  width: 100%;
  .custo-button--full-width {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

.fa-wrapper-button {
  background: none;
  border: none;
  cursor: pointer;

  .fa {
    font-size: 2em;
    color: map-get($colors, font-light);
    &:hover {
      color: map-get($colors, light-lavender);
    }
  }
}
