@use "../abstracts" as *;
@mixin btn-color-attributes($button-color) {
  background-color: $button-color;
  border: 1px solid scale-color($button-color, $lightness: -50%);
  transition: background-color 150ms ease-in;
  &:hover {
    background-color: scale-color($button-color, $lightness: 20%);
  }
}

.custo-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.3rem;
}
.custo-button {
  @include btn-color-attributes(map-get($colors, primary));
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.5em;
  color: map-get($colors, font-light);

  &:last-of-type {
    @include btn-color-attributes(map-get($colors, light-green));
  }
}
