@use "../../styles" as *;

.mobile-nav-wrapper {
  display: none;
  @include small-screen {
    display: block;
  }
  .backdrop {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
  }
  .mobile-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 75vw;

    transform: translateX(-100%);
    transition: transform 0.6s cubic-bezier(0.16, 1.17, 0.74, 1);

    background: $header-color;
    border-right: 3px solid scale-color($header-color, $lightness: -50%);
    height: 100vh;

    &__username {
      font-size: 3rem;
      margin: 1rem auto;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__items {
      padding-inline-start: 0;
      margin: 0 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: 2.2rem;
    }
  }
}

.mobile-nav-open {
  .backdrop {
    display: block;
  }
  .mobile-nav {
    transform: translateX(0);
  }
}

.main-header {
  background-color: $header-color;
  border-bottom: 2px solid grey;
  padding: 0 1rem;

  display: flex;
  align-content: center;
  justify-content: space-between;
  @include small-screen {
    gap: 1em;
  }

  .hamburger-menu {
    display: none;
    @include small-screen {
      display: inline-block;
    }
    vertical-align: middle;
    width: 3rem;

    background: transparent;
    border: none;
    cursor: pointer;

    padding-top: 0;
    padding-bottom: 0;

    &:focus {
      outline: none;
    }

    &__bar {
      width: 100%;
      height: 0.2rem;
      background: $font-color--light;
      display: block;
      margin: 0.6rem 0;
    }
  }

  .main-header__brand {
    color: $font-color--light;
    align-self: center;
    font-size: 2.5rem;
    font-family: $font-family--serif;
    border-bottom: none;
  }

  .main-nav {
    @include small-screen {
      display: none;
    }

    &__items {
      display: flex;
      list-style: none;
      align-items: baseline;
      gap: 1rem;

      .main-nav__item a {
        font-weight: map-get($font-weight, bold);
        padding: 0.2rem 0;
        white-space: nowrap;
      }
    }
  }

  .logged-out-nav {
    &__items {
      display: flex;
      list-style: none;
      align-items: baseline;
      gap: 1rem;

      .logged-out-nav__item a {
        font-weight: map-get($font-weight, bold);
        padding: 0.2rem 0;
        white-space: nowrap;
      }
    }
  }
}
