<header class="main-header">
  <div class="main-header__brand">
    <!-- <button class="toggle-button">
      <span class="toggle-button__bar"></span>
      <span class="toggle-button__bar"></span>
      <span class="toggle-button__bar"></span>
    </button> -->

    <!-- <img src="" alt="Custo - Decide what for a movie" /> -->
    Custo
  </div>
  <nav class="main-nav">
    <ul class="main-nav__items">
      <li class="main-nav__item">
        <a href="#">Search</a>
      </li>
      <li class="main-nav__item">
        <a href="#">My Movies</a>
      </li>
      <li class="main-nav__item">
        <a routerLink="/login">Login</a>
      </li>
      <!-- <li class="main-nav__item">
        <button class="main-nav__item--login-button" (click)="login()">
          Login
        </button>
      </li> -->
    </ul>
  </nav>
</header>
