@use "../../styles" as *;

.main-header {
  background-color: $header-color;
  border-bottom: 2px solid grey;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;

  .main-header__brand {
    color: $font-color--light;
    align-self: center;
    font-size: 2.5rem;
    font-family: $font-family--serif;
  }

  .main-nav__items {
    display: flex;
    list-style: none;
    align-items: baseline;
    gap: 1rem;

    &--logged-in {
      @extend .main-nav__items;
    }

    .main-nav__item a {
      font-weight: map-get($font-weight, bold);
      padding: 0.2rem 0;
      white-space: nowrap;
    }
  }
}
