.main-header {
  background-color: black;
  border-bottom: 2px solid grey;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;

  .main-header__brand {
    color: white;
    font-size: 2.5rem;
    align-self: center;
  }

  .main-nav__items {
    display: flex;
    list-style: none;
    align-items: baseline;
    gap: 1rem;

    .main-nav__item a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      padding: 0.2rem 0;

      &:active,
      &:hover {
        color: white;
        border-bottom: 2px solid white;
      }
    }

    .main-nav__item--login-button {
      border: 1px solid white;
      border-radius: 5px;
      padding: 10px;
      background-color: purple;
      color: white;
    }
  }
}
