<header class="main-header">
  <div routerLink="/search">
    <!-- <button class="toggle-button">
      <span class="toggle-button__bar"></span>
      <span class="toggle-button__bar"></span>
      <span class="toggle-button__bar"></span>
    </button> -->

    <!-- <img src="" alt="Custo - Decide what for a movie" /> -->
    <a class="main-header__brand" routerLink="/"> Custo </a>
  </div>
  <nav class="main-nav">
    <ul class="main-nav__items">
      <li class="main-nav__item">
        <a routerLink="/search">Search</a>
      </li>
      <div
        class="main-nav__items--logged-in"
        *ngIf="user$ | async as user; else login"
      >
        <li class="main-nav__item">
          <a routerLink="user/my-movies">My Movies</a>
        </li>
        <li class="main-nav__item">
          <a routerLink="user/our-movies">Our Movies</a>
        </li>
        <li class="main-nav__item">
          <a routerLink="/search" (click)="onLogout()">Logout</a>
        </li>
      </div>
      <ng-template #login>
        <li class="main-nav__item">
          <a routerLink="/login">Login</a>
        </li>
      </ng-template>
      <!-- <li class="main-nav__item">
        <button class="main-nav__item--login-button" (click)="login()">
          Login
        </button>
      </li> -->
    </ul>
  </nav>
</header>
