<div class="custo-modal-backdrop" (click)="onClose()"></div>
<div class="custo-modal-container">
  <form
    class="custo-form container"
    #findFriendsForm="ngForm"
    (ngSubmit)="onSubmit(findFriendsForm)"
  >
    <h1>Find Your Friends</h1>
    <div class="custo-form__inputs-wrapper">
      <div class="custo-form__input-wrapper">
        <label for="findUserMovies" class="custo-form__input-label"
          >Enter Your Friends Email</label
        >
        <input
          class="custo-form__input"
          type="text"
          ngModel
          name="findUser"
          required
          email
          #findUserMovies="ngModel"
        />
      </div>
    </div>
    <!-- <ng-container *ngIf="searchError">
    <div class="invalid__warning-box">
      <i class="fa fa-exclamation-circle"></i> {{ searchError }}
    </div>
  </ng-container> -->

    <div class="custo-buttons custo-buttons--full-width">
      <button type="submit" class="custo-button custo-button--full-width">
        Send Request to your Friend
      </button>
    </div>
  </form>
</div>
