<app-info-box [type]="'warning'">
  <p>
    Custo is currently in an <strong>early alpha</strong> phase. Your saved
    movies could get deleted by accident, or your data (email, name, movies)
    could perhaps be accessed from other users.
  </p>
  <p>
    You can use a fake email address, as you don't need to validate it at this
    point in time - but then there is no way of resetting your password.
  </p>
</app-info-box>
<form
  class="custo-form container"
  #loginForm="ngForm"
  (ngSubmit)="onSubmit(loginForm)"
>
  <h1 class="auth-title">{{ isLoginMode ? "Login" : "SignUp" }}</h1>
  <div *ngIf="!isLoginMode" class="custo-form__inputs-wrapper">
    <div
      class="custo-form__input-wrapper"
      [ngClass]="{
        invalid__input: wasSubmitted && displayName.status === 'INVALID'
      }"
    >
      <label for="displayName" class="custo-form__input-label">Your Name</label>
      <input
        class="custo-form__input"
        type="displayName"
        ngModel
        name="displayName"
        required
        displayName
        #displayName="ngModel"
      />
    </div>
  </div>
  <ng-container *ngIf="nameError">
    <app-info-box [type]="'warning'">
      <i class="fa fa-exclamation-circle"></i> {{ nameError }}.
    </app-info-box>
  </ng-container>
  <div class="custo-form__inputs-wrapper">
    <div
      class="custo-form__input-wrapper"
      [ngClass]="{ invalid__input: wasSubmitted && email.status === 'INVALID' }"
    >
      <label for="email" class="custo-form__input-label">Email</label>
      <input
        class="custo-form__input"
        type="email"
        ngModel
        name="email"
        required
        email
        #email="ngModel"
      />
    </div>
  </div>
  <ng-container *ngIf="emailError">
    <app-info-box [type]="'warning'">
      <i class="fa fa-exclamation-circle"></i> {{ emailError }}
    </app-info-box>
  </ng-container>
  <div class="custo-form__inputs-wrapper">
    <div
      class="custo-form__input-wrapper"
      [ngClass]="{
        invalid__input: wasSubmitted && password.status === 'INVALID'
      }"
    >
      <label for="password" class="custo-form__input-label">Password</label>
      <input
        class="custo-form__input"
        type="password"
        ngModel
        name="password"
        required
        password
        min-length="6"
        #password="ngModel"
      />
    </div>
  </div>
  <ng-container *ngIf="passwordError">
    <app-info-box [type]="'warning'">
      <i class="fa fa-exclamation-circle"></i> {{ passwordError }}
    </app-info-box>
  </ng-container>
  <ng-container *ngIf="errorMsg">
    <app-info-box [type]="'warning'">
      <i class="fa fa-exclamation-circle"></i> {{ errorMsg }}
    </app-info-box>
  </ng-container>
  <div class="custo-buttons custo-buttons--full-width">
    <button
      type="button"
      class="custo-button custo-button--full-width"
      (click)="switchMode()"
    >
      Switch to {{ isLoginMode ? "SignUp" : "Login" }}
    </button>
    <button type="submit" class="custo-button custo-button--full-width">
      {{ isLoginMode ? "Login" : "SignUp" }}
    </button>
  </div>
</form>
