<form
  class="custo-form container"
  #loginForm="ngForm"
  (ngSubmit)="onSubmit(loginForm)"
>
  <h1 class="auth-title">{{ isLoginMode ? "Login" : "SignUp" }}</h1>
  <div class="custo-form__inputs-wrapper">
    <div
      class="custo-form__input-wrapper"
      [ngClass]="{ invalid__input: wasSubmitted && email.status === 'INVALID' }"
    >
      <label for="email" class="custo-form__input-label">Email</label>
      <input
        class="custo-form__input"
        type="email"
        ngModel
        name="email"
        required
        email
        #email="ngModel"
      />
    </div>
  </div>
  <ng-container *ngIf="emailError">
    <div class="invalid__warning-box">
      <i class="fa fa-exclamation-circle"></i> {{ emailError }}
    </div>
  </ng-container>
  <div class="custo-form__inputs-wrapper">
    <div
      class="custo-form__input-wrapper"
      [ngClass]="{
        invalid__input: wasSubmitted && password.status === 'INVALID'
      }"
    >
      <label for="password" class="custo-form__input-label">Password</label>
      <input
        class="custo-form__input"
        type="password"
        ngModel
        name="password"
        required
        password
        min-length="6"
        #password="ngModel"
      />
    </div>
  </div>
  <ng-container *ngIf="passwordError">
    <div class="invalid__warning-box">
      <i class="fa fa-exclamation-circle"></i> {{ passwordError }}
    </div>
  </ng-container>
  <ng-container *ngIf="errorMsg">
    <div class="invalid__warning-box">
      <i class="fa fa-exclamation-circle"></i> {{ errorMsg }}
    </div>
  </ng-container>
  <div class="custo-buttons custo-buttons--full-width">
    <button
      type="button"
      class="custo-button custo-button--full-width"
      (click)="switchMode()"
    >
      Switch to {{ isLoginMode ? "SignUp" : "Login" }}
    </button>
    <button type="submit" class="custo-button custo-button--full-width">
      {{ isLoginMode ? "Login" : "SignUp" }}
    </button>
  </div>
</form>
