@use "../../styles" as *;

.custo-form {
  @include small-screen {
    max-width: 95%;
  }
  .auth-title {
    color: map-get($colors, font-light);
  }
  &__inputs-wrapper {
    border-radius: 1rem;
    border: 1px solid grey;
  }
}
