@use "../../styles" as *;

.custo-form {
  .auth-title {
    color: map-get($colors, font-light);
  }
  &__inputs-wrapper {
    border-radius: 1rem;
    border: 1px solid grey;
  }
}
// .invalid {
//   color: red;
//   .custo-form__input {
//     box-shadow: 0px 2px 0px 0px red;
//   }
// }
