$colors: (
  primary: #143642,
  secondary: #310d20,
  tertiary: #7d6b91,
  light-green: #6baa75,
  light-lavender: #eae8ff,
  font-light: white,
  font-dark: black,
  btn-disabled: #4b4b4b,
  warning: #bb3e03,
);

$header-color: map-get($colors, primary);
$page-background--dark: map-get($colors, secondary);
$font-color--light: map-get($colors, font-light);
$font-color--dark: map-get($colors, font-dark);
