<div class="custo-modal__backdrop" (click)="closeModal()"></div>
<div class="custo-modal__container container">
  <div
    *ngIf="modalTitle || hasModalTitleButtons"
    class="custo-modal__title-bar"
  >
    <h1 *ngIf="modalTitle" class="title-bar__title">{{ modalTitle }}</h1>
    <div
      class="title-bar__buttons"
      [ngClass]="{ 'title-bar__buttons--no-title': !modalTitle }"
    >
      <button
        *ngIf="hasModalTitleButtons"
        class="fa-wrapper-button"
        (click)="closeModal()"
      >
        <i class="fa fa-times-circle"></i>
      </button>
    </div>
  </div>

  <p class="custo-modal__description" *ngIf="description">{{ description }}</p>
  <div class="custo-modal__main-content">
    <ng-content></ng-content>
  </div>
</div>
