<ng-container *ngIf="friendData">
  <app-custo-modal
    [modalTitle]="friendData.displayName"
    [hasModalTitleButtons]="true"
    (close)="onClose()"
  >
    <app-custo-confirm-modal
      *ngIf="isRemoveFriendConfirmationVisible"
      [modalTitle]="'Remove Friend'"
      [message]="
        'Are you sure you want to remove ' +
        friendData.displayName +
        ' from your friends?'
      "
      [hasModalTitleButtons]="true"
      (close)="closeRemoveFriendModal()"
      (confirm)="removeFriend()"
    >
    </app-custo-confirm-modal>
    <div class="friend-actions-buttons-wrapper">
      <button
        class="fa-wrapper-button"
        (click)="openRemoveFriendConfirmModal()"
      >
        <i class="fa fa-user-times"></i>
      </button>
    </div>
    <div
      class="common-movies"
      *ngIf="commonMovies.length > 0; else noCommonMovies"
    >
      <h2 class="common-movies__title">Your Common Movies</h2>
      <app-movie-list [movies]="commonMovies"></app-movie-list>
    </div>
    <ng-template #noCommonMovies>
      <app-info-box>
        <p>
          You don't have common movies with {{ friendData.displayName }}. You
          could add more on the
          <a [routerLink]="'/search'">search results</a> page.
        </p>
      </app-info-box>
    </ng-template>
  </app-custo-modal>
</ng-container>
