<div class="movies__wrapper">
  <div class="movie" *ngFor="let movie of movies">
    <img class="movie__poster" src="{{ movie.image }}" />

    <div class="movie__hover-overlay">
      <button
        *ngIf="isMovieRemovable"
        class="hover-overlay__remove-movie-button"
        (click)="removeMovie(movie)"
      >
        <i class="fa fa-ban"></i>
      </button>
      <h5 class="hover-overlay__title">{{ movie.fullTitle }}</h5>
      <div class="hover-overlay__duration">
        {{ movie.runtimeMins | timeConversion }}
      </div>
    </div>
  </div>
</div>
