@use "../../../styles.scss" as *;

.my-friends__container {
  background-color: map-get($colors, primary);
  // TODO stf adapt width
  width: 14rem;
  border-radius: 1rem;

  margin: 2rem;

  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;

  .my-friends__friends {
    display: grid;
    grid-gap: 0.5rem;
    .my-friends__friend {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $font-color--light;

      .my-friends__add-to-comparison-icon {
        cursor: pointer;
        color: white;
        background-color: transparent;
        border: none;
        border-radius: 50%;
      }
    }
  }
  .my-friends__add-friend-btn {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
}
