<ng-container *ngIf="isFindFriendsModalOpen">
  <app-find-friend-modal
    (close)="closeFindFriendsModal()"
  ></app-find-friend-modal>
</ng-container>
<ng-container *ngIf="isFriendDetailModalOpen">
  <app-friend-detail-modal
    [friendDataWithCommonMoviesVM]="friendDataWithCommonMoviesVM"
    (close)="closeFriendDetailsModal()"
  ></app-friend-detail-modal>
</ng-container>

<div class="common_movies__container">
  <div class="my-friends__container">
    <h2 class="my-friends__header">My Friends</h2>
    <div class="my-friends__friends">
      <div
        *ngFor="let friend of friends$ | async | keyvalue"
        class="my-friends__friend"
      >
        <div
          class="my-friends__friend-name"
          (click)="openFriendDetails(friend.key)"
        >
          {{ friend.value.displayName }}
        </div>
        <i
          *ngIf="!isFriendCompared(friend.key)"
          (click)="addFriendToComparison(friend.key)"
          class="my-friends__add-to-comparison-icon fa fa-plus"
        ></i>
        <i
          *ngIf="isFriendCompared(friend.key)"
          (click)="removeFriendFromComparison(friend.key)"
          class="my-friends__add-to-comparison-icon fa fa-minus"
        ></i>
      </div>
    </div>

    <ng-container *ngIf="isLoading$ | async">
      <app-loading-indicator></app-loading-indicator>
    </ng-container>

    <button
      class="custo-button my-friends__add-friend-btn"
      (click)="openFindFriendsModal()"
    >
      Find a Friend
    </button>
  </div>

  <app-movie-genre-list
    [movies]="filteredCommonMovies$ | async"
  ></app-movie-genre-list>
</div>
