<form
  #searchMediumForm="ngForm"
  (ngSubmit)="searchMovie(searchMediumForm.value.search)"
  class="custo-form"
>
  <div class="custo-form__inputs-wrapper">
    <div class="custo-form__input-wrapper">
      <label class="custo-form__input-label">Movie Title</label>
      <input
        class="custo-form__input"
        type="search"
        name="search"
        ngModel
        required
        placeholder="Look for a movie"
      />
    </div>
    <div class="custo-form__input-wrapper">
      <label class="custo-form__input-label">Min Rating</label>
      <input
        class="custo-form__input"
        type="number"
        name="min-rating"
        [(ngModel)]="minRating"
        step="0.1"
        min="2"
        max="9.9"
        placeholder="Min Rating"
      />
    </div>
    <button
      type="submit"
      class="search-movie-form__submit-btn"
      [disabled]="searchMediumForm.invalid"
    >
      <i class="fa fa-search"></i>
    </button>
  </div>
</form>
<br />

<ng-container *ngIf="isSearching">
  <app-loading-indicator></app-loading-indicator>
</ng-container>

<ng-container *ngFor="let movieResult of (custoMovieResults$ | async) || []">
  <app-search-result-item
    [movieResult]="movieResult"
    [minRating]="minRating"
    [isAuthenticated]="isAuthenticated"
  ></app-search-result-item>
</ng-container>
