@use "../../../styles" as *;

.search-movie-form__submit-btn {
  padding: 1rem;
  margin-right: 0.7rem;
  font-size: 1.2em;
  font-weight: map-get($font-weight, light);
  cursor: pointer;
  border-radius: 50%;
  color: map-get($colors, font-light);
  background-color: map-get($colors, tertiary);
  transition: background-color 0.8s ease;

  &:hover {
    background-color: scale-color(
      (map-get($colors, tertiary)),
      $lightness: 30%
    );
  }

  &[disabled] {
    background-color: (map-get($colors, btn-disabled));
  }
}
