.search-movie-form__wrapper {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 3rem;
  width: 90vw;
  margin: 0 auto;
  // box-shadow: rgba(0, 0, 0, 0.172549) 0 6px 12px 0;

  .search-movie-form__input-wrapper {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    padding: 1em;
    &:not(:first-child) {
      border-left: 1px solid rgba(10, 10, 10, 0.05);
    }
  }

  .search-movie-form__input-label {
    font-weight: 700;
  }
  .search-movie-form__input {
    border: none;
    appearance: none;
    outline: none;
    width: 100%;
    font-size: 1.2em;
    line-height: 1.2em;
    margin-top: 5px;

    &:focus {
      box-shadow: 0px 2px 0px 0px purple;
    }
  }
  .search-movie-form__submit-btn {
    padding: 1rem;
    margin-right: 0.7rem;
    font-size: 1.2em;
    font-weight: 100;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    background-color: purple;
    transition: background-color 0.8s ease;

    &:hover {
      background-color: #d600d6;
    }

    &[disabled] {
      background-color: #4b4b4b;
    }
  }
}
