<form
  #searchMediumForm="ngForm"
  (ngSubmit)="searchMedium(searchMediumForm.value.search)"
>
  <div class="search-movie-form__wrapper">
    <div class="search-movie-form__input-wrapper">
      <label class="search-movie-form__input-label">Movie Title</label>
      <input
        type="search"
        name="search"
        class="search-movie-form__input"
        ngModel
        required
        placeholder="Look for a movie"
      />
    </div>
    <div class="search-movie-form__input-wrapper">
      <label class="search-movie-form__input-label">Min Rating</label>
      <input
        type="number"
        name="min-rating"
        class="search-movie-form__input"
        [(ngModel)]="minRating"
        step="0.1"
        min="2"
        max="9.9"
        placeholder="Min Rating"
      />
    </div>
    <button
      type="submit"
      class="search-movie-form__submit-btn"
      [disabled]="searchMediumForm.invalid"
    >
      <i class="fa fa-search"></i>
    </button>
  </div>
</form>
<br />

<ng-container *ngIf="isSearching$ | async">
  <app-loading-indicator></app-loading-indicator>
</ng-container>

<!-- TODO stf remove movies that don't have a runtime -> probably not interested -->
<ng-container *ngFor="let movieResult of (movieResults$ | async) || []">
  <app-search-result-item
    [movieResult]="movieResult"
    [minRating]="minRating"
  ></app-search-result-item>
</ng-container>
