<form
  #searchMediumForm="ngForm"
  (ngSubmit)="searchMedium(searchMediumForm.value.search)"
  class="search-movie-form"
>
  <input
    type="search"
    name="search"
    class="search-movie-form__input"
    ngModel
    placeholder="Look for a movie"
  />
  <!-- TODO stf make this an icon from fontawesome -->
  <button type="submit" class="search-movie-form__submit-button">Search</button>
</form>
<br />

<app-loading-spinner *ngIf="isSearching | async"></app-loading-spinner>

<ng-container *ngFor="let result of (results$ | async) || []">
  <app-search-result-item [result]="result"></app-search-result-item>
</ng-container>
