<ng-container *ngIf="isShowingIntroduction && !isAuthenticated">
  <app-info-box [title]="'Welcome to Custo!'" (hideInfo)="hideIntroduction()">
    <p>
      This page is designed for you to decide what you'd like to watch. In this
      search you can look for movies that are above your rating threshold
      <strong>without showing you the rating</strong>. This helps you to
      <strong>watch movies that are worth your time</strong> with less
      expectations in terms of their quality. This rating is currently the one
      from <a href="https://www.imdb.com">IMDb</a>.
    </p>
    <p>
      When you are logged in, you can also <strong>add the movies</strong> of
      the search to your movies, so that you can use Custo to save movies that
      you'd like to watch later.
    </p>
    <p>
      When your friends are also signed up, you can add them to find common
      movies that you can <strong>watch together</strong>!
    </p>
  </app-info-box>
</ng-container>

<form
  #searchMediumForm="ngForm"
  (ngSubmit)="searchMovie(searchMediumForm.value.search)"
  class="custo-form movie-search-form"
>
  <div class="custo-form__inputs-wrapper">
    <div class="custo-form__input-wrapper">
      <label class="custo-form__input-label">Movie Title</label>
      <input
        class="custo-form__input"
        type="search"
        name="search"
        ngModel
        required
        placeholder="Look for a movie"
      />
    </div>
    <div class="custo-form__input-wrapper">
      <label class="custo-form__input-label">Min Rating</label>
      <input
        class="custo-form__input"
        type="number"
        name="min-rating"
        [(ngModel)]="minRating"
        step="0.1"
        min="2"
        max="9.9"
        placeholder="Min Rating"
      />
    </div>
    <button
      type="submit"
      class="search-movie-form__submit-btn"
      [disabled]="searchMediumForm.invalid"
    >
      <i class="fa fa-search"></i>
    </button>
  </div>
</form>
<br />

<ng-container *ngIf="isSearching">
  <app-loading-indicator></app-loading-indicator>
</ng-container>

<ng-container *ngFor="let movieResult of (custoMovieResults$ | async) || []">
  <app-search-result-item
    [movieResult]="movieResult"
    [minRating]="minRating"
    [isAuthenticated]="isAuthenticated"
  ></app-search-result-item>
</ng-container>
