@use "../../../../styles" as *;

app-medium-card.medium-above-threshold--background {
  ::ng-deep {
    .result-item {
      background-color: map-get($colors, primary) !important;
    }
  }
}

.medium-above-threshold--thumb-icon {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  transform: scale(1.8);
}
