@use "../../../styles" as *;

$movie-poster-height: 16rem;
$scale-ratio: 1.2;
$border-radius: 0.5rem;

.genre__wrapper {
  padding: 0 1rem;
  margin-bottom: 2rem;
  .genre__heading {
    color: white;
    margin-bottom: 0;
  }
  .movies__wrapper {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 9rem;
    grid-template-rows: $movie-poster-height * $scale-ratio + 0.3rem;
    align-items: center;

    @include custo-scrollbar();
    overflow-x: auto;
    overflow-y: visible;

    .movie {
      position: relative;
      transition: 250ms all;
      &:hover {
        z-index: 1;
        .movie__description {
          display: block;
        }
      }
      &:hover:not(:first-of-type):not(:last-of-type) {
        transform: scale(1.2);
      }
      &:first-of-type:hover {
        transform: scale(1.2) translateX(0.9rem);
      }
      &:last-of-type:hover {
        transform: scale(1.2) translateX(-0.9rem);
      }

      .movie__poster {
        position: relative;
        height: $movie-poster-height;
        width: $movie-poster-height / 16 * 9;
        object-fit: cover;
        border-radius: $border-radius;
      }
      .movie__description {
        display: none;
        border-radius: $border-radius;
        background: rgba(0, 0, 0, 0.6);
        height: $movie-poster-height;
        width: $movie-poster-height / 16 * 9;
        position: absolute;
        z-index: 2;
        color: $font-color--light;
        top: 0;
        left: 0;

        .movie__title {
          position: absolute;
          padding: 0.4rem;
          bottom: 3rem;
          text-align: bottom;
        }
        .movie__duration {
          position: absolute;
          padding: 0.4rem;
          bottom: 0;
        }
      }
    }
  }
}
