@use "../../../styles" as *;

.genre__wrapper {
  padding-left: 1rem;
}
.movies__wrapper {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 9rem;
  overflow: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 1rem;

    &-track {
      background-color: map-get($colors, tertiary);
    }

    &-thumb {
      background-color: map-get($colors, primary);
      // box-shadow: inset 0 0 6px red;
    }
  }
}
h2 {
  color: white;
}
img {
  height: 16rem;
  width: 9rem;
  object-fit: cover;
  border-radius: 0.3rem;
}
