<div class="result-item">
  <div class="movie-details">
    <img class="poster" src="{{ mediumData.image }}" />
    <div class="info">
      <div class="info__title">{{ mediumData.fullTitle }}</div>
      <div>Starring:</div>
      <div>{{ mediumData.stars }}</div>
      <div>Director:</div>
      <div>{{ mediumData.directors }}</div>
      <div>Genres:</div>
      <div>{{ mediumData.genres }}</div>
      <div>Runtime:</div>
      <div>
        {{ mediumData.runtimeMins | timeConversion }}
      </div>
    </div>
  </div>
  <ng-content></ng-content>
</div>
