/**
 * Basic typography style for copy text
 */

$font-family--sans-serif: Montserrat, Helvetica, sans-serif;
$font-family--serif: Merriweather, serif;

$font-weight: (
  light: 300,
  normal: 400,
  semibold: 500,
  bold: 700,
);

html {
  @media (max-width: 9000px) {
    font-size: calc(12px + 0.8vw);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family--serif;
}
